<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Sentence: <input type="text" name="sentence", placeholder="Enter sentence" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">Result: {{ pred }}</p>
        <br>
        <p style="text-align: center;">Probability: {{ prob }}</p>
    </body>
</html>